
html, body {
	margin: 0;
	padding: 0;
	font-family: alegreya, sans-serif;
	line-height: 1.6;
	margin: 0;
	padding:0;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}

body {
	background-image: url(images/main_page/HomeBG2.PNG);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}


h1 {
	font-family: Castelar;
	color: #F5E6C2;
	-webkit-text-stroke: 2px #EBD293;
	margin: 20px;
	position: relative;
	z-index: 10;
	
}


a img {
    transition: transform 0.2s ease;
}

a img:hover {
    transform: translate(-50%, -50%) scale(1.15) !important;
}

.ribbon {
    width: 100%;
    background: rgba(127, 107, 94, 0.85);
    border-bottom: 2px solid #EBD293;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 12px 20px;
    position: relative;
    box-sizing: border-box;
}

.logo {
    height: 72px;
}

.ribbon h1 {
    margin: 0;
    font-family: Castelar;
    color: #F5E6C2;
    -webkit-text-stroke: 2px #EBD293;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    font-size: 2.9rem;
}

.ribbon-links a {
    position: relative;
    color: #F5E6C2;
    text-decoration: none;
    margin-left: 20px;
    font-size: 1.1rem;
    letter-spacing: 1px;
    padding-bottom: 2px;
}


.ribbon-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;

    width: 0;
    height: 2px;
    background-color: #EBD293;

    transition: width 0.3s ease;
}


.ribbon-links a:hover::after {
    width: 100%;
}

.ribbon-links a {
    transition: color 0.3s ease;
}

.ribbon-links a:hover {
    color: #FFF1C1;
}





